.ticketsList {
  width: 504px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabs {
  display: flex;
}

.tabsButtons {
  display: block;
  height: 50px;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgba(223, 229, 236, 1);
  background-color: white;
}

.tabsButtons:first-child {
  border-radius: 10px 0 0 10px;
}

.tabsButtons:last-child {
  border-radius: 0 10px 10px 0;
}

.activeButton {
  background-color: #2196f3;
  color: #fff;
}

.showMore {
  height: 50px;
  width: 100%;
  background-color: #2196f3;
  color: white;
  border-radius: 5px;
}

.spin {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: #2196f3;
}

.message {
  height: 100px;
  width: 100%;
  background-color: #2196f3;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
}
